<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
		<listener class-name="ecommercesite.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="FunctionalTest">
	
    <classes>
      <class name="ecommercesite.LoggedIntoFlipkart">
      <methods>
      <exclude name="closebrowser">
      </exclude>
      </methods>
      </class>
      <class name="ecommercesite.Londingpage"/>
       <class name="ecommercesite.SelectandAddtoCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
